<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partial/meta.ejs") %>
        <title> <%= title %></title>
    
    </head>
    <body>
        <%- include("../partial/boxes.ejs") %>
        <h1> Hey Laude</h1>
    </body>
</html>